*.png
*.log
*.json
*.pyc
.vscode*
.idea*
*.bz2
.venv*
*.pkl
*tar.gz
*.whl
dist/*
*.epgz
*.pdf
tests/sessions_copy_delete/*
dev/sessions_copy_delete/*
dev/sample_sessions*
*.nbi
*.nbc
*.csv
*config.toml
*.xlsx
caliscope/_version.py
caliscope.code-workspace
site/*
_version.py
example_project/point_estimates.toml
example_project/calibration/extrinsic/port_1.mp4
example_project/calibration/extrinsic/port_2.mp4
example_project/calibration/extrinsic/port_3.mp4
example_project/calibration/extrinsic/port_4.mp4
example_project/calibration/extrinsic/CHARUCO/port_1_CHARUCO.mp4
example_project/calibration/extrinsic/CHARUCO/port_2_CHARUCO.mp4
example_project/calibration/extrinsic/CHARUCO/port_3_CHARUCO.mp4
example_project/calibration/extrinsic/CHARUCO/port_4_CHARUCO.mp4
example_project/calibration/intrinsic/port_1.mp4
example_project/calibration/intrinsic/port_2.mp4
example_project/calibration/intrinsic/port_3.mp4
example_project/calibration/intrinsic/port_4.mp4
example_project/recordings/test_recording/port_1.mp4
example_project/recordings/test_recording/port_2.mp4
example_project/recordings/test_recording/port_3.mp4
example_project/recordings/test_recording/port_4.mp4
example_project/recordings/test_recording/HOLISTIC/port_1_HOLISTIC.mp4
example_project/recordings/test_recording/HOLISTIC/port_2_HOLISTIC.mp4
example_project/recordings/test_recording/HOLISTIC/port_3_HOLISTIC.mp4
example_project/recordings/test_recording/HOLISTIC/port_4_HOLISTIC.mp4
example_project/recordings/test_recording/HOLISTIC/xyz_HOLISTIC.trc
